<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharat Bill Pay (BBPS) - Manage Multiple Bill Payment Anywhere &amp; Anytime Easily</title>
    <meta name="title" content="Bharat Bill Pay (BBPS) -  Manage Multiple Bill Payment Anywhere &amp; Anytime Easily" />
    <meta name="description"
        content="Bharat bill pay is a platform that brings banks, e-commerce portals, and online payment platforms under one roof as its official operational units for bill collections." />
    <meta name="keywords"
        content="BBPS, #NPCI, BHIM, UMANG, PAYTM, RBI, DIGITAL INDIA,SBI,BILLPAYMENT,ICICI BANK,INDIA BILL,PUNJAB NATIONAL BANK,UPI,RUPAY,PHONEPE,MOBIKWIK,AMAZONPAY,GOOGLE TEZ,BILL AVENUE,BHARAT BILL PAYMENT SYSTEM,BILL PAYMENT SYSTEM,PUNJAB AND SIND BANK,IDFC BANK,BILLDESK,BILL JUNCTION,HDFC BANK,RBL BANK, Bill Pay, payment system in India, banks, ecommerce portals and online payment, authorized BBPS partner, Bill collection,Partner, Biller, Customer" />

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/results.css">

</head>

<body>
    <section>
        <!--for demo wrap-->
        <h1>Fixed Table header</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Message</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <% for(var i=0;i<byAddress.length;i++) { %>
              <tr>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <h4>Send Mail</h4>
                            <p class="text12" >
                                <textarea name="text"id="comment" rows="3" placeholder="Send an Email to connect with your <%= byAddress[i].name %>"></textarea>
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <td><%= byAddress[i].name %></td>
                <td><%= byAddress[i].user.email %></td>
                <td> <%= byAddress[i].user.name %></td>
                <td> <%= byAddress[i].phone %></td>
                <td> <%= byAddress[i].address %></td>
                <td> <%= byAddress[i].city %></td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Chat
                    </button>    
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </section>
    
      </div>
</body>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>